body
{
	background-color : #888888;
    margin-left : 30px;
	margin-right : 30px;
}

*
{
	color : white;
	font-family: Helvetica, Arial, sans-serif;
}

a
{
	color: #333333;
	text-decoration: underline;
}

a:hover
{
	text-decoration: none;
}

pre
{
	font-family: Courier, "Courier New", monospace;
	font-size: 80%
}

h1
{
	font-size : 200%;
	border-bottom : solid thin;
}

.download {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100) );
	background:-moz-linear-gradient( center top, #fe1a00 5%, #ce0100 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100');
	background-color:#fe1a00;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #d83526;
	display:inline-block;
	color:#ffffff;
	font-size:20px;
	font-weight:normal;
	padding:5px 24px;
	text-decoration:none;
}.download:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ce0100), color-stop(1, #fe1a00) );
	background:-moz-linear-gradient( center top, #ce0100 5%, #fe1a00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100', endColorstr='#fe1a00');
	background-color:#ce0100;
}.download:active {
	position:relative;
	top:1px;
}